[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/amken3d/pico-sdk.git
	branch = nosubModules
	shallow = true
[submodule "system/pyserial"]
	path = tools/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "libraries/LittleFS/lib/littlefs"]
	path = libraries/LittleFS/lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "libraries/SdFat"]
	path = libraries/ESP8266SdFat
	url = https://github.com/earlephilhower/ESP8266SdFat.git
[submodule "libraries/Adafruit_TinyUSB_Arduino"]
	path = libraries/Adafruit_TinyUSB_Arduino
	url = https://github.com/adafruit/Adafruit_TinyUSB_Arduino.git
[submodule "libraries/FreeRTOS/lib/FreeRTOS-Kernel"]
	path = libraries/FreeRTOS/lib/FreeRTOS-Kernel
	url = https://github.com/earlephilhower/FreeRTOS-Kernel.git
[submodule "libraries/FatFS/lib/SPIFTL"]
	path = libraries/FatFS/lib/SPIFTL
	url = https://github.com/earlephilhower/SPIFTL.git

